<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb_Q9h5aZEXL8uPT2l21YWLaXcXOIJ5e8</string>
	<key>GCM_SENDER_ID</key>
	<string>388004258516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movieapp-d59ad</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-d59ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388004258516:ios:2377ff8d0ea424f5285141</string>
</dict>
</plist>